@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 320px;
  height: 450px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  overflow: hidden;
}
.date-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: rgba(211, 211, 211, 0.2);
  border-bottom: 0.3px solid #d6d7e7;
}
.date {
  font-size: 18px;
  font-weight: 400;
  margin-top: 6px;
  margin-left: 20px;
  color: #3455ec;
}
.month {
  font-size: 13px;
  font-weight: 400;
  margin-top: 3px;
  margin-left: 20px;
  color: grey;
}
.number-of-task {
  font-size: 12px;
  font-weight: 300;
  color: grey;
  position: absolute;
  top: 17%;
  right: 6%;
}
.input-div {
  width: 100%;
  height: 64px;
  position: absolute;
  /* top: 64px; */
  bottom: 0;
  background: rgba(211, 211, 211, 0.2);
  border-top: 0.3px solid #c5c7df;
}
.task-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 245px;
  height: 38px;
  border-radius: 25px;
  border: 0.5px solid #c5c7df;
  color: grey;
  padding-left: 15px;
  outline: none;
  caret-color: #3455ec;
}
.add-task-btn {
  padding: 5px;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(-50%, -50%);
  background-color: rgb(236, 46, 78);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.task-menu-container {
  position: absolute;
  top: 64px;
  border-bottom: 0.3px solid #c5c7df;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(211, 211, 211, 0.2);
}
.active {
  color: #3455ec;
  transition: all ease 0.2s;
}
.task-menu-container > span {
  font-size: 12px;
  margin-left: 15px;
  position: relative;
  left: -40px;
  cursor: pointer;
}

.task-menu-container .clear-task-btn {
  background: #3455ec;
  border: none;
  outline: none;
  color: white;
  padding: 8px 6px;
  border-radius: 3px;
  font-size: 9px;
  position: relative;
  right: -7%;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: all ease 0.3s;
  cursor: pointer;
}
.task-menu-container .clear-task-btn:hover {
  background: #2a4adb;
}
.task-list-container {
  width: 100%;
  height: 272px;
  position: absolute;
  top: 114px;
  overflow: hidden;
  overflow-y: auto;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 50px;
  border-bottom: 0.3px solid #c5c7df;
}
.task label {
  font-size: 12px;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.task label p.checked {
  text-decoration: line-through;
}
.task-menu {
  background: white;
  position: absolute;
  box-shadow: 0 0 6px rgb(0 0 0 / 15%);
  margin-top: 2.5rem;
  padding: 4px 0;
  right: 22px;
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  transform-origin: top right;
  white-space: nowrap;
  transition: all ease 0.3s;
}
.show {
  transform: scale(1);
  transition: transform 0.2s ease;
  visibility: visible;
  opacity: 1;
}

.task-menu li {
  font-size: 12px;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  margin-bottom: 4px;
  padding: 0px 5px;
  cursor: pointer;
}
.task-menu li:hover {
  background-color: aliceblue;
}
.delete-btn,
.edit-btn {
  color: grey;
}
.no-task-message,
.timetoday {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(128, 128, 128, 0.5);
  font-size: 14px;
}
.timetoday {
  margin-top: 1.3rem;
  font-size: 11px;
}
.ri-clipboard-fill {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(128, 128, 128, 0.5);
  font-size: 45px;
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .date-container {
    height: 75px;
    background: rgba(211, 211, 211, 0.2);
    border-bottom: 0.3px solid #d6d7e7;
  }
  .date {
    font-size: 22px;
    font-weight: 400;
    margin-top: 6px;
    margin-left: 20px;
    color: #3455ec;
  }
  .month {
    font-size: 15px;
  }
  .number-of-task {
    font-size: 14px;
  }
  .task-menu-container {
    top: 75px;
    height: 62px;
  }
  .task-menu-container > span {
    font-size: 15px;
    margin-left: 15px;
    position: relative;
    left: -43px;
    cursor: pointer;
  }

  .task-menu-container .clear-task-btn {
    font-size: 13px;
    right: -7%;
  }
  .task-list-container {
    height: 489px;
    top: 137px;
  }
  .task {
    height: 70px;
  }
  .task label {
    font-size: 17px;
  }

  .task-menu {
    padding: 4px 0;
    right: 20px;
  }
  .show {
    transform: scale(1.2);
  }

  .task-menu li {
    font-size: 13px;
    color: rgb(36, 35, 35);
  }

  .no-task-message,
  .timetoday {
    top: 50%;
    font-size: 18px;
  }
  .timetoday {
    margin-top: 1.9rem;
    font-size: 14px;
  }
  .ri-clipboard-fill {
    top: 38%;
    font-size: 77px;
  }
  .input-div {
    height: 75px;
  }
  .task-input {
    width: calc(100% - 90px);
    height: 48px;
    border: 0.5px solid #2a4adb;
    padding-left: 17px;
    font-size: 1.1rem;
  }
  
}
